<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
</style>
</head>
<body>
Doğrulama kodu gönderildi
<div class="topnav">
  <a class="active" href="">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
</div>
<p> Confirm the mail sent to  </p>
<form action="/SentCode" method="POST">
   <input type="text" placeholder="Code..." name="sifre" required/>
    <input type="submit" value="Submit" />
</form>

{% if yazi %}
 <p> {{yazi}} </p>
{% endif %}


</body>
</html>
