
<!DOCTYPE html>
<html>
<body>
<form action="/SingUp" style="border:1px solid #ccc" method="POST" >
  <div class="container">
    <h1>Sign Up</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>

      <label ><b>Name</b></label>
    <input type="text" placeholder="Enter name" name="name" required>
      <label ><b>Surname</b></label>
    <input type="text" placeholder="Enter surname" name="surname" required>
      <label ><b>Email</b></label>
     <input type="email" placeholder="Enter email"  name="email" required>
          <label ><b>Password</b></label>
    <input type="password" placeholder="Enter password" name="password" required>
   
      <button type="submit" class="signupbtn">Sign Up</button>
    
  </div>
</form>

</body>
</html>